# 只是对从来没有追踪过的文件生效，如果是项目后期加的，也就是说要排除的文件已经被纳入到版本管理中了，那这个时候直接添加是不会起作用的
# git ls-files // 查看暂存区的全部文件，也就是git追踪的文件列表
# git rm -r --cached xxx  // xxx表示要从暂存区删除的文件，如git rm -r --cached target/* .idea/*，执行后，对应的文件将处于未跟踪状态，.表示删除所有文件
.idea/*